#AmogWhite {
        margin-left: 30%;
        margin-right: 20%;
        margin-top: 0%;
        margin-bottom: 10%;
    }
#AmogBlack {
        margin-left: 0%;
        margin-right: 20%;
        margin-top: 0%;
        margin-bottom: 10%;
    }